In [2]:
if 25 < 30:
    print("25 is less than 30")

25 is less than 30

In [3]:
if 25 > 30:
    print("Really? Is 25 greater than 30?")

In [4]:
if 35 == 25:
    print("35 and 25 are exactly the same value")

In [5]:
if not 35 == 25:
    print("35 and 25 are NOT exactly the same value")

35 and 25 are NOT exactly the same value

In [6]:
num = 225
if num > 0: 
    print("The number is greater than zero: ", num)

The number is greater than zero:  225

In [7]:
if num:
     print("The number is greater than zero: ", num)

The number is greater than zero:  225

In [8]:
salary = 1000
expenses = 770

In [9]:
living_within_means = False

if salary - expenses > 0:
    living_within_means = True

In [11]:
print('Am I living within my means?', living_within_means)

Am I living within my means? True

In [12]:
living_within_means = salary - expenses > 0

if living_within_means and expenses > 500:
    print("I'm glad you're saving but perhaps your expenses could be lower?")

I'm glad you're saving but perhaps your expenses could be lower?

In [13]:
savings = 0

if salary > expenses:
    savings = salary - expenses
    print("Savings for the month: ", savings)

Savings for the month:  230

In [14]:
if salary > expenses:
    print("Savings for the month: ", salary - expenses)
else:
    print('Loans to tide you over: ', expenses - salary)

Savings for the month:  230

In [15]:
salary = 1000
expenses = 1100
if salary > expenses:
    print("Savings for the month: ", salary - expenses)
else:
    print('Loans to tide you over: ', expenses - salary)

Loans to tide you over:  100

In [16]:
classic_cars = ['Pierce Arrow', 'Oldsmobile','Mustang']
sports_cars = ["Agera", 'Regera', 'Chiron', 'Veyron']
planes = ['A380','747','A370']

In [17]:
if len(classic_cars) < 5:
    print("That isn't a very long list of classic cars")

That isn't a very long list of classic cars

In [19]:
transportation = "Chiron"
if transportation in sports_cars:
    print("Your type of transportation is a sports car")

Your type of transportation is a sports car

In [20]:
math_score = 20

if math_score < 20: 
    print("I'm afraid that is not a great score", math_score)
elif math_score < 50:
    print("Oh you can definitely do better than this", math_score)
elif math_score < 80: 
    print("Ahh you're close to highest grade you can get", math_score)
elif math_score < 100:
    print("You did great at math!", math_score)

Oh you can definitely do better than this 20